div.post_summary {
    float: left;
    width: 400px;
    margin-bottom: 15px;
}

div.post_summary div#title {
    float:left;
    margin-left: 5px;
}

div.post_summary div#content {
    float: left;
    margin-top: 5px;
    width: 400px;
    border: solid 1px #000000;
}

div.post_summary div.container {
    float: left;
    width: 400px;
    margin-top: 5px;
    border: solid 1px #000000;
}

div.post_summary div#author {
    float: left;
}

div.post_summary div#comments {
    float:left;
    margin-left: 5px;
    padding-left: 5px   ;
    border-left: 1px solid #000000;
}

div.post_summary div#date {
    float: left;
}

div.post_summary div.top_container {
    float: left;
    border: solid 1px #000000;
    width: 400px;
}